# Игнорировать байткод
*.pyc
*.pyo
*!*.txt
*SFP_*.txt
*SFP_*.sqlite
*SFP_*.log

**/__pycache__/
**/.vscode/
**/instance/
**sflightpass.code-workspace

# Игнорировать каталог с файлами настройки
**/config/

# Игнорировать каталог с исполнимыми файлами и модулями (если таковой имеется)
**/bin/
**/venv/