{% extends 'base.html' %}

{% block title %}
TaskState
{% endblock %}

{% block body %}
    <p class="lead"> # Task.ID ticket: <b> {{ task.tid }} </b> Date: {{ task.date.strftime('%d-%m-%Y') }} </p>

    <div class="alert alert-info">
        <p>Title: {{ task.title }}</p>
        <p>Description: {{ task.description }}</p>
        <p>Type: <b>{{ desteam[task.did] }}</b></p>
        <p>Owner: //{{ task.TS_User.login }}</p>
        <p>Executor: //{{ task.uid2 }}</p>
        <p>Private: {{ task.private }}</p>
        <p>Status task: <b>{{ tstatus[task.kstatus] }}</b></p>
    </div>
{% endblock %}