{% extends 'base.html' %}

{% block title %}
TaskState
{% endblock %}

{% block body %}
    <p class="lead"> <b> # Users statistics &gt;&gt;</b> </p>
    {% if users|length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">// User</th>
                <th scope="col"># CountTask</th>
            </tr>
        </thead>
        <tbody>
        {% for el in users %}
            <tr>
                <th scope="row">{{ el.id }}</th>
                <th>{{ el.login }}</th>
                <td>{{ el.TS_Task|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p class="lead"> !!! Users data not found</p>
    {% endif %}
{% endblock %}